ion-content{
  --background: linear-gradient(0deg, rgba(176,33,56, 0.7), rgba(0,0,0,0.5)),
  url("/assets/manaus.jpg") no-repeat center center /cover
}
.login-section{
  height: 74vh;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  border-top-left-radius: 46px;
  .heading{
    margin-top: 20px;
    text-align: center;
    h1{
      font-size: 1.6rem;
      font-weight:  bold;
    }
    p{
      margin-top: 20px;
      font-size: 1rem;
      color: #7b7b77;
    }
  }
  .login-form{
    .form-input{
      position: relative;
      margin-bottom: 10px;
      }
  }
  .action-buttons{
    text-align: center;
    .login-button{
      --background: #661e06;
      font-weight: bold;

    }
    p{
      margin-top: 15px;
      font-size: 1rem;
      font-weight: #7b7b7b;

    }
    .signup-button{
      --border-color: #b4b4b4;
      color: #000;
      font-weight: bold;
      margin-top: 30px;
      width: 100%;
    }
  }

}
